body {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

main {
    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
}

h3 {
    margin: 0;
}

.main--registration, .main--login {
    width: 35%;
    height: 80%;
    padding: 27px;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 0.5px #3333331F;
    background-color: #FFF;
}
.main--login {
    display: none;
}

.registration--box_img, .login--box_img {
    margin: 0 0 20px 0;
}

.box_img--iten {
    width: 40%;
}


.box_subtitle--subtitle_iten {
    color: #333333;
}

.box_subtitle--text_iten {
    color: #1ABC9C;
}

.registration--form, .login--form {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login--form {
    height: 50%;
}

.form--box_subtitleActionRegistration, .form--box_subtitleActionLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0 15px 0;
}
.form--box_subtitleActionLogin  {
    margin: 8px 0 15px 0;
}

#register, #login{
    cursor: pointer;
}
.box_subtitleActionRegistration--txt_login {
    opacity: .5;
}

.form--box_information {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}
.form--box_informationLogin {
    height: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

input {
    height: 20%;
    font-size: 15px;
    border-radius: 5px;
    border-color: #C4C4C4;
    border: none;
    box-shadow: 0 0 1px .5px #C4C4C4;
    padding-left: 10px;
}

.inpuiLogin{
    height: 41%;
}

.box_information--box_numberphone {
    height: 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box_numberphone--codeRegion {
    width: 20%;
    height: 100%;
}

.box_numberphone--numberphone {
    width: 70%;
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

a {
    text-decoration: none;
}

.form--btnRegister, .form--btnLogin{
    width: 40%;
    height: 18%;
    align-self: center;
    margin-top: 10px;
    color: #FFF;
    background-color: #1ABC9C;
    border-radius: 8px;
    border: none
}
.form--btnLogin {
    width: 30%;
    height: 13%;
    margin-top: 20px;
}

.main--slide_section {
    width: 50%;
}

.slide_section--box_imgslide {
    display: flex;
    justify-content: center;
    margin: 0;
}

.box_imgslide--iten {
    width: 85%;
}


.transicao1 {
    display: flex;
    flex-direction: column;
    transform:translate(0px) ;
    transition-delay: 1s;
    transition-property: background-color;
}
.transicao2 {
    transform:translate(0px);
    opacity: .5;
}

.box_animation {
    display: flex;
    flex-direction: column;
}

.direction_page {
    width: 100%;
    height: 3px;
    background-color: #1ABC9C;
    border-radius: 5px;
}