body {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
}

h3 {
    margin: 0;
}

.main--registration {
    width: 35%;
    height: 80%;
    padding: 27px;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 0.5px #3333331F;
    background-color: #FFF;
}

.registration--box_img {
    margin: 0 0 20px 0;
}

.box_img--iten {
    width: 40%;
}

#loginSection {
    display: none;
}

.form--screen_organisition {
    height: 100%;
}

.box_subtitle--subtitle_iten {
    color: #333333;
}

.box_subtitle--text_iten {
    color: #1ABC9C;
}

.registration--form {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form--box_subtitleActionRegistration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px 0 15px 0;
}

#register, #login{
    cursor: pointer;
}

.box_subtitleActionRegistration--txt_itenRegister {
    transform: translate(0px, 0px);
    transition: transform 1000ms;
}
.box_subtitleActionRegistration--txt_itenRegister.move{
    transform: translate(315px, 0px);
}

.box_subtitleActionRegistration--txt_login {
    opacity: .5;
    transform: translate(0, 0);
    transition: transform 1000ms;
}
.box_subtitleActionRegistration--txt_login.move {
    transform: translate(-345px, 0px);
}
.form--box_informationRegister {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form--box_informationLogin {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

input {
    height: 15%;
    font-size: 15px;
    border-radius: 5px;
    border-color: #C4C4C4;
    border: none;
    box-shadow: 0 0 1px .5px #C4C4C4;
    padding-left: 10px;
}

.inpuiLogin{
    height: 20%;
}

.box_information--box_numberphone {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box_numberphone--codeRegion {
    width: 20%;
    height: 100%;
}

.box_numberphone--numberphone {
    width: 70%;
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

a {
    text-decoration: none;
}

.form--btnRegister {
    width: 40%;
    height: 18%;
    margin-top: 10px;
    align-self: center;
    color: #FFF;
    background-color: #1ABC9C;
    border-radius: 8px;
    border: none
}

.form--btnLogin {
    width: 30%;
    height: 24%;
    margin-top: 20px;
    align-self: center;
    color: #FFF;
    background-color: #1ABC9C;
    border-radius: 8px;
    border: none
}

.main--slide_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide_section--box_imgslide {
    display: flex;
    justify-content: center;
    margin: 0;
}

.box_imgslide--iten {
    width: 85%;
}

.box_animation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.direction_page_register {
    width: 22%;
    height: 3px;
    background-color: #1ABC9C;
    border-radius: 5px;
    transition: width 2s;
}

.direction_page_login {
    width: 14%;
    height: 3px;
    background-color: #1ABC9C;
    border-radius: 5px;
    transition: width 2s;
}

/* slide */

.box_conterSlide {
    width: 4%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 12px;
}

.unselectCircle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #A8B4B1;
}

.selectCircle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #1ABC9C
}